[Desktop Entry]
Name=Soulless
Comment=Soulless Launcher for COSMIC
Type=Application
Exec=soulless-launcher
Icon=com.github.hmrdsmoke.soulless-launcher
Terminal=false
Categories=Utility;System;X-COSMIC;
Keywords=COSMIC;Launcher;Soulless;
StartupNotify=true
X-HostWaylandDisplay=true
NoDisplay=true
