[Desktop Entry]
Name=Soulless
Comment=Soulless app launcher button for the COSMIC panel
Type=Application
Exec=com.github.hmrdsmoke.soulless-applet
Icon=com.github.hmrdsmoke.soulless-applet
Terminal=false
Categories=Utility;System;X-COSMIC;
Keywords=COSMIC;Applet;Launcher;Soulless;
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
