[Desktop Entry]
Name=Soulless
Comment=Soulless Launcher for COSMIC
Type=Application
Exec=soulless-launcher
Icon=com.github.hmrdsmoke.soulless-applet
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Launcher;Soulless;
StartupNotify=true
NoDisplay=true
X-HostWaylandDisplay=true
